label {
	height: 20px;
	display: inline-block;
}
legend {
	padding-left: 10px;
	padding-right: 10px;
}

fieldset {
	border: 1px solid #ccc;
	padding: 20px 20px 19px;
}

input[type="text"],
input[type="password"],
input[type="select"],
input[type="search"] {
	display: block;
	border: 1px solid #aaa;
	font: inherit;
	font-size: 13px;
	line-height: 1;
	padding: 5px;
	margin-bottom: 13px;
	height: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="select"]:focus,
input[type="search"]:focus,
textarea:focus {
	background-color: #f0f0f0;
}

input[type="file"] {
	margin: 0px 6px 16px 5px;
}

select {
	border: 1px solid #aaa;
	height: 20px;
}

/* @group Buttons */

input[type="submit"],
input[type="button"], 
.button, 
button {
	height: 20px;
	margin-bottom: 20px;
	border: 1px solid #252525;
	background-color: #252525;
	color: #f2f2f0;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	text-decoration: none;
}
a.button {
	padding: 2px 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
label:hover, 
button:hover {
	cursor: pointer;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active, 
button:active {
	top: 1px;
}

input[type="reset"] {
	background: none;
	border: 0;
	color: inherit;
	text-decoration: underline;
	font: inherit;
	padding: 0;
	margin: 0;
}

input[type="reset"]:hover {
	text-decoration: none;
}

/* @end */

textarea {
	display: block;
	margin-bottom: 8px;
	border: 1px solid #aaa;
	padding: 5px;
	font: inherit;
}

label {
	padding-right: 10px;
}

label.inline {
	display: block;
	float: left;
	margin-right: 10px;
}

input.error {
	color: #fff;
	background-color: #D50911;
	border-color: #D50911;
}
input.error:focus {
	background-color: #D50911;
}


/* @group Form grid (fieldset required) */

.form-grid-3 {
	width: 168px;
}

.form-grid-4 {
	width: 248px;
}

.form-grid-5 {
	width: 328px;
}

.form-grid-6 {
	width: 408px;
}

.form-grid-7 {
	width: 486px;
}

.form-grid-8 {
	width: 568px;
}

.form-grid-9 {
	width: 648px;
}

.form-grid-10 {
	width: 728px;
}

.form-grid-11 {
	width: 798px;
}

.form-grid-12 {
	width: 888px;
}

/* @end */