<h1>Competitions</h1>
<br/>

<p><%= link_to 'Create Competition', new_competition_path if can? :create, Competition %></p>

<% @competitions.each do |competition| %>
<div class="competition">
    <div class="info">
        <%= image_tag competition.picture.url(:thumb), :align=>'left', :style=>'margin-right:20px;' %>
        <h2><%= link_to competition.title, competition %></h2>
        <p><%= competition.description %></p>
    </div>
    <div class="date">
        <i>From <b><%= format_time competition.begin %></b> to <b><%= format_time competition.end %></b></i>
    </div>
    <div style="clear:both"></div>
</div>
    <%#= link_to 'Edit', edit_competition_path(competition) %>
    <%#= link_to 'Destroy', competition, confirm: 'Are you sure?', method: :delete %>
<% end %>

<%#= link_to 'New Competition', new_competition_path %>

