<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Participate', "/competitions/#{@competition.id}/participate" unless !current_user || @competition.is_participating(current_user) %>
</p>

<p>
  <b>Title:</b>
  <%= @competition.title %>
</p>

<p>
  <b>Description:</b>
  <%= @competition.description %>
</p>

<p>
  <b>Begin:</b>
  <%= format_time @competition.begin %>
</p>

<p>
  <b>End:</b>
  <%= format_time @competition.end %>
</p>

<p>
  <b>Status:</b>
  <%= @competition.status_name %>
</p>

<div class="participants">
  <% max = @competition.participants.size; @competition.participants_desc.each_with_index do |p, index| %>
    <div class="participant">
      <b style="font-size:<%= 17+max*2-index*2 %>px"><%= index+1 %>.</b>&nbsp;
      <i><%= p.user.fullname %></i>
      <div style="text-align:center;">
        <a href="/participants/<%= p.id %>"><%= image_tag p.picture.url(:thumb) %></a>
      </div>
      likes: <%= p.like %>
    </div>
  <% end %>
  <div style="clear:both"></div>
</div>

<% if false %>
  <table>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th>Like</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
  <% @competition.participants.each do |participant| %>
    <tr>
      <td><%= participant.user.fullname %></td>
      <td><%= participant.description %></td>
      <td><%= participant.like %></td>
      <td><%= link_to 'Show', participant %></td>
      <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
      <td><%= link_to 'Destroy', participant, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if current_user and current_user.admin? %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
  <%= link_to 'Back', competitions_path %>
<% end %>
