<h1>Listing participants</h1>

<table>
  <tr>
    <th>User</th>
    <th>Competition</th>
    <th>Description</th>
    <th>Like</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= participant.user_id %></td>
    <td><%= participant.competition_id %></td>
    <td><%= participant.description %></td>
    <td><%= participant.like %></td>
    <td><%= link_to 'Show', participant %></td>
    <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
    <td><%= link_to 'Destroy', participant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_participant_path %>
