<p id="notice"><%= notice %></p>

<div id="picture" class="grid-5">
<% if @competition.running? %>
	<%= link_to "I like it", like_path(:id=>@participant.id), {:id => "fav", :class => ( @already_voted ? "liked" : "") } %>
<% end %>
<a href="<%= @participant.picture.url %>"><%= image_tag @participant.picture.url(:medium) %></a>


	<blockquote>
		<p><%= @participant.description %></p>
		<p class="author"><cite>&mdash; <%= link_to @participant.user.fullname, @participant %></a></cite></p>
	</blockquote>
	
</div>
<div class="grid-7">
	&nbsp;&nbsp; Rating:<b><%= @participant.like %></b><br/><br/>
	<div id="comments">
		<%= form_tag comment_participant_path(@participant), :method=>"post", :id=>'write-comment' do %>
			<fieldset>
				<legend>Написать комментарий</legend>
				<%= text_area_tag "text", nil, :size=>'30x3', :class=>"form-grid-7" %>
				<%= button_tag "Написать", :class=>"button-special", :type=>"submit" %>
			</fieldset>
		<% end %>
		
		<% def write_comment(comments) %>
			<ol class="listreset comments">
				<% comments.each do |comment| %>
					<li>
						<ul class="listreset meta">
							<li><%= image_tag comment.user.picture.url('thumb') %></li>
							<li><a><% comment.user.fullname %></a></li>
							<li>posted on <%= format_time comment.created_at %></li>
						</ul>
						<div class="body">
							<p><%= comment.text %></p>
							<!--<p class="answer-control"><a>Ответить</a></p>-->
						</div>
						<% #write_comments comment.comments if comment.comments.size > 0
						%>
					</li>
				<% end %>
			</ol>
		<% end %>
		<% write_comment @participant.comments %>
	</div>
</div>

<%#= link_to 'Edit', edit_participant_path(@participant) %> 
<%#= link_to 'Back', participants_path %>
