<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :readonly=>'true' %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :aboutme %><br />
    <%= f.text_area :aboutme %>
  </div>
  <ul class="field">
    <% Role.all.each do |role| %>
      <li><%= check_box_tag "roles[#{role.name}]", 1, @user.role?(role)  %> : <%= role.name %></li>
    <% end %>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>