<h1>Listing users</h1>

<table>
	<tr>
		<th>email</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Picture</th>
		<th>Aboutme</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @users.each do |user| %>
	<tr>
		<td><%= user.email %></td>
		<td><%= user.first_name %></td>
		<td><%= user.last_name %></td>
		<td><%= image_tag(user.picture.url(:thumb)) %></td>
		<td><%= user.aboutme %></td>
		<td><%= link_to 'Show', user %></td>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
		<td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
<% end %>
</table>