<p id="notice"><%= notice %></p>

<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag @user.picture.url('thumb') %>
</p>

<p>
  <b>Aboutme:</b>
  <%= @user.aboutme %>
</p>
  
  <ul class="field">
    <% Role.all.each do |role|
      checked = false
      if !@user.role.nil?
        checked = true if @user.role?(role)
      end
    %>
      <li><%= check_box_tag "roles[#{role.name}]", 1, @user.role?(role), :disabled=>'true'  %> : <%= role.name %></li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>