<pre>
<%=  @data.to_s %>
</pre>

<% if @data['error'] %>
	<%= @data['error'].to_s+": "+@data['error_description'].to_s %>
<% else %>
	<%= @access_token %>
<% end %>


<%= link_to 'Test Me ))', fbtest2_path %>