<button onclick="location.href='http://www.facebook.com/dialog/oauth?client_id=<%= @app_id %>&redirect_uri=http://127.0.0.1:3000/fbtest&state=pagupagu&scope=user_about_me,user_activities,read_friendlists,user_birthday';">Connect to Facebook</button>

    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '185606301557957',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
      </script>
      <div class="fb-login-button" scope="email,user_checkins">Login with Facebook</div>
