<button onclick="location.href='http://api.vk.com/oauth/authorize?client_id=<%= @app_id %>&redirect_uri=http://127.0.0.1:3000/vkontakte&display=page&scope=notify,friends,audio,wall,groups,notifications';">Войти ВКонтакте</button>

<br/><br/><br/><br/>

<%= link_to 'Vkontakte', vkontakte_path %>

<%#= Vkontakte.button :id => "vk_button" %>

<%#= Vkontakte.button(:asynchronous => true, :callback => "/vkontakte") %>
