/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.competition {
	padding: 10px 15px 10px 15px;
	background-color: #f2f2eb;
	border-radius: 7px;
}

.competition h2 {
	margin-bottom:5px;
}

.competition .date, .competition .info{
	margin-top:5px;
	float: left;
	width: 100%;
}

.participants {
	
}

.participants .participant {
	float:left;
	margin: 10px 0 0 20px;
	padding: 5px;
	width: 200px;
	border:1px solid #aaa;
}